@charset "utf-8";


html {
    font-family: 'Nunito Sans', 'Open Sans', Arial, sans-serif;
}

body {
    background-image: url('');  
      background-size: cover;                    
      background-position: center;              
      background-repeat: no-repeat;             
      margin: 0;                                
      height: 100vh;
      align-items: center;       
}


.contact {
    font-size: 18px;
    text-align: center;
    color: #eae5e5;
    background-image: url(../img/contact-me\ background\ image.jpg);
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
    width: 100%;
    


}
ul li {
    text-decoration: none;
    text-align: center;
    display: inline;
    

nav {
    text-align: center;

}

}

.fa-brands {
    margin-top: 20px;
    font-size: 30px; 
    transition: transform 0.3s; 
    text-decoration: none;
    padding: 7px;
}

.fa-brands:hover {
    transform: scale(1.1); 
}

nav ul li a.fa-facebook {
    color: #3b5998;
}

nav ul li a.fa-github {
    color: #f1f6fc; 
}

nav ul li a.fa-instagram {
    color: #ce506b; 
}

nav ul li a.fa-linkedin-in {
    color: #0b66c3; 
}

nav ul li a.fa-discord {
    color: #5964e9; 
}

footer {
    text-align: center;
    background-color: #333;
    color: #eae5e5;
    
}

footer p {
    margin: 0;           
}